header {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio-title {
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.portfolio-title:hover {
    text-decoration: underline;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
}

.nav-list li a:hover {
    text-decoration: underline;
}

.menu-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
}

.close-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
}

@media (max-width: 700px) {
    .menu-icon {
        display: block;
    }

    .close-icon {
        display: block;
    }

    .nav-list {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 0;
        height: 100%;
        width: 200px;
        background-color: #333;
        padding: 20px;
        box-sizing: border-box;
        transform: translateX(100%);
    }

    .nav-list.show {
        transform: translateX(0);
    }
}