* {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* HEADER START */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.portfolio-title a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
}

.portfolio-title:hover {
    text-decoration: underline;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.nav-list li {
    font-size: 1.5rem;
    margin-left: 20px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
}

.nav-list li a:hover {
    text-decoration: underline;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.close-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
}

/* HEADER END */

/* MISSION STATEMENT START */
.mission-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.mission-statement {
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}

/* MISSION STATEMENT END */

/* APPS & SUMMARY START */
.apps-summary-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.apps-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}

.app-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-right: 0.25rem solid #333;
    margin-right: 20px;
}

.app-image {
    width: 35%;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
}

.summary-container {
    position:relative;
    top: 0;
    width: 50%;
    font-size: 1.25rem;
    padding: 20px;
}

/* APPS & SUMMARY END */

@media (max-width: 900px){
    /* APPS & SUMMARY START */
    .apps-summary-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .apps-container {
        position: absolute;
        top: 90%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .app-details {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-right: 0;
        margin-right: 20px;
    }

    .app-image {
        width: 50%;
        height: 50%;
        border-radius: 10px;
        margin-right: 20px;
    }

    .summary-container {
        position: absolute;
        top: 15rem;
        border-bottom: 0.25rem solid #333;
    }

    /* APPS & SUMMARY END */
    
}

@media (max-width: 700px) {
    /* HEADER START */
    .menu-icon {
        display: block;
    }

    .close-icon {
        display: block;
    }

    .nav-list {
        z-index: 1;
        position: absolute;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 0;
        height: 100%;
        width: 12.5rem;
        background-color: #333;
        padding: 20px;
        box-sizing: border-box;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }

    .nav-list li {
        font-size: 1.5rem;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .nav-list.show {
        transform: translateX(0);
    }

    /* HEADER END */

    /* APPS & SUMMARY START */
    .apps-container {
        top: 70%;
    }

    .summary-container {
        font-size: 1rem;
    }
    
    /* APPS & SUMMARY END */
}

@media (max-width: 500px) {
    /* MISSION STATEMENT START */

    .mission-statement {
        font-size: 1.25rem;
    }

    /* MISSION STATEMENT END */


    /* APPS & SUMMARY START */
    .apps-container {
        top: 75%;
    }

    .summary-container {
        font-size: 0.95rem;
    }
    /* APPS & SUMMARY END */
}

@media (max-width: 380px) {
    /* APPS & SUMMARY START */
    .apps-container {
        top: 90%;
    }

    .summary-container {
        font-size: 0.95rem;
    }
    /* APPS & SUMMARY END */
}