/* MISSION STATEMENT START */
.mission-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.mission-statement {
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}

/* MISSION STATEMENT END */

/* APPS & SUMMARY START */
.apps-summary-container {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: row;
}

.apps-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.app-details {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    border-right: 0.25rem solid #333;
    margin: 20px;
}

.app-image {
    width: 35%;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
}

.app-details-description {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    width: 25%;
}

.summary-container {
    width: 50%;
    font-size: 1.25rem;
    padding: 20px;
}

/* APPS & SUMMARY END */

@media (max-width: 900px){
    /* APPS & SUMMARY START */
    .apps-summary-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .apps-container {
        position: absolute;
        top: 90%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem;
    }

    .app-details {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-right: 0;
        margin-right: 20px;
    }

    .app-image {
        width: 50%;
        height: 50%;
        border-radius: 10px;
        margin-right: 20px;
    }

    .summary-container {
        position: absolute;
        top: 15rem;
        border-bottom: 0.25rem solid #333;
    }

    /* APPS & SUMMARY END */
    
}

@media (max-width: 700px) {
    /* APPS & SUMMARY START */
    .apps-container {
        top: 70%;
    }

    .summary-container {
        font-size: 1rem;
    }
    
    /* APPS & SUMMARY END */
}

@media (max-width: 500px) {
    /* MISSION STATEMENT START */

    .mission-statement {
        font-size: 1.25rem;
    }

    /* MISSION STATEMENT END */


    /* APPS & SUMMARY START */
    .apps-container {
        top: 75%;
        margin-top: 4.5rem;
    }

    .summary-container {
        font-size: 0.95rem;
    }
    /* APPS & SUMMARY END */
}

@media (max-width: 380px) {
    /* APPS & SUMMARY START */
    .apps-container {
        top: 90%;
    }

    .summary-container {
        font-size: 0.95rem;
    }
    /* APPS & SUMMARY END */
}